html {
  font-size: 62.5%;
}

body {
  font-family: "Lucida Sans", sans-serif;
  display: flex;
  color: #e7e7e7;
  min-height: 100vh;
  background-color: #fff;
}

.main-header {
  flex: 0 0 26rem;
  background-color: var(--secondary-color);
}

.main {
  flex: 1 0;
  background-color: var(--secondary-color-light);
}

a {
  color: inherit;
}

.main,
.main-header {
  font-size: 1.6rem;
}

.perfil-img {
  max-width: 10rem;
}

.main-nav {
  padding: 6.5rem 2.4rem 2.4rem;
}

.main-nav ul {
  padding: 0;
  
}

.main-nav ul a {
  display: block;
  padding: 1.2rem 0;
  text-decoration: none;
  transition: padding-right 0.2s, background-color 0.4s;
  background-color: transparent;
}

.main-nav ul a:hover {
  background-color: var(--secondary-color-light);
  padding-right: 1rem;
}
